<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block page_title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h3 style="text-align:center">Header</h3>
    </header>
    
    <section>
        {% block show_clients %}
        {% endblock %}
    </section>

    <footer>
        <h3 style="text-align: center">Footer</h3>
    </footer>
</body>
</html>