{% extends "base.html" %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block page_content %}

    <h3 style="text-align:center">Clientes Registrados</h3>

    {% if client %}
        <ul>
            {% for client in client %}
                <li>
                    {{client.pk}} | {{ client.name }} | {{ client.phone }} | {{ client.email }} | {{ client.address }}
                </li>
            {% endfor %}
        </ul>
    <a href="{% url 'new_client' %}">New</a>
    {% else %}
        <h3 style="color: red"> No hay clientes registrados</h3>
    {% endif %}

{% endblock %}